<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rust GuestBook</title>
</head>
  <body>
    <div class="entry">
      <h1>{{title}}</h1>
      <div class="body">
          {{index_content}}
          <hr>
          <div class="posts">
            {{#each posts}}
              <div class="post">
                <div class="name">Name:{{this.name}} </div>
                <div class="title">Title: {{this.title}} </div>
                <div class="content">Content: {{this.content}} </div>
                <hr>
              </div>
            {{/each}}
          </div>
      </div>
    </div>
  </body>
</html>